{% extends 'blog/base.html' %}
{% block content %}
    <form method="POST" class="border p-4 my-4">
        {% csrf_token %}
        <!-- USERNAME -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
        </div>
        <!-- PASSWORD -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Your password" name="password">
        </div>
        <input type="submit" value="Sign Me Up">
    </form>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="mt-2 text-center">Don't have an account? <a class='text-decoration-none' href="{% url 'signUp' %}">Sign Up</a></div>


{% endblock content %}
